//REMEMBER - WOO IS MOBILE-FIRST  


//woo-general styles 
.woocommerce {
  .content-area {
    padding: 0 3vw;
    
      .site-header, .site-main, .widget-area, .site-footer {
        width: 100%;
        max-width: 1360px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    
        @media screen and (max-width: 1360px) {
          width: 94%;
        }
        @media screen and (max-width: 768px) {
          //width: 95%;
          //margin: 0 3vw;
        }
    
      }
    }
    ul.products li.product .price, ul.products li.product .star-rating, ul.products li.product .woocommerce-loop-product__title {
      font-weight: 700;
      text-transform: uppercase;
  }

  
  //navbar
  #masthead {
    max-width: unset;
    
  }

  //header
  .woocommerce-breadcrumb, 
  .woocommerce-products-header, 
  .woocommerce-notices-wrapper,
  .woocommerce-result-count,
  .woocommerce-ordering {
    padding-left: 5%;
    text-align: right;
    margin-bottom: 10px;
  }


  .woocommerce-products-header {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
    height: 0;
  }

  .page-title {
    position: absolute;
    text-align: right;
    left: 0;
    top: 0;
    font-size: 5rem;
    text-transform: uppercase;
    transform: rotate(-90deg);
    width: 100%;
    text-align: right;
    transform-origin: top;
    font-size: 6rem;
    // margin-left: -16%;
    // margin-top: 60px;
    //border: 1px dotted black;
  }



  @media only screen and (min-width: 1560px) {
    .content-area #main.site-main {
      margin-left: 0 auto;
      .woocommerce-products-header {

      .woocommerce-products-header__title.page-title, 
      .woocommerce-page .woocommerce-products-header__title.page-title {
        left: -50rem;
        top:36rem;

        }
      }
    }
  }

  @media only screen and (min-width: 1380px) {
    .content-area #main.site-main {
      .woocommerce-products-header {

      .woocommerce-products-header__title.page-title, 
      .woocommerce-page .woocommerce-products-header__title.page-title {
        left: -48rem;
    top: 36rem;
        font-size: 6rem;
        }
      }

    }
  }

  @media only screen and (min-width: 1161px) and (max-width: 1379px){
    .content-area #main.site-main {
      .woocommerce-products-header {

      .woocommerce-products-header__title.page-title, .woocommerce-page .woocommerce-products-header__title.page-title {
        left: -41rem;
      top: 30rem
        
        }
      }
    }
  }

  @media only screen and (min-width: 1100px) and (max-width: 1160px){
    .content-area #main.site-main {
      .woocommerce-products-header {

      .woocommerce-products-header__title.page-title, .woocommerce-page .woocommerce-products-header__title.page-title {
        left: -35rem;
    top: 24rem
        
        }
      }
    }
  }


  @media only screen and (min-width: 1024px) {
    .content-area #main.site-main {
      margin-left: 5vw;

      .woocommerce-products-header__title.page-title, .woocommerce-page .woocommerce-products-header__title.page-title {
        left: -33rem;
    top: 22rem;
        
        }

    }
  }
  @media only screen and (max-width: 1023px) {

    // #masthead {
    //    .site-branding {
    //     .site-title {
    //     }
    //    }
    // }
    .content-area #main.site-main {

      .woocommerce-products-header__title.page-title, 
      .woocommerce-page .woocommerce-products-header__title.page-title {
        left: -29rem;
        top: 22rem;
        font-size: 4.8rem;
        //margin: 0;
        // font-size: 4rem; 
      }
    }

  }


  @media only screen and (max-width: 960px) {

    // #masthead {
    //    .site-branding {
    //     .site-title {
    //     }
    //    }
    // }
    .content-area #main.site-main {

      .woocommerce-products-header__title.page-title, 
      .woocommerce-page .woocommerce-products-header__title.page-title {
        left: -25rem;
        top: 17rem;
        font-size: 4.8rem;
        //margin: 0;
        // font-size: 4rem; 
      }
    }

  }

  @media only screen and (max-width: 820px) {

    // #masthead {
    //    .site-branding {
    //     .site-title {
    //     }
    //    }
    // }
    .content-area {
      padding-top: 166px;
    }
    .content-area #main.site-main {

      .woocommerce-products-header__title.page-title, 
      .woocommerce-page .woocommerce-products-header__title.page-title {
        position: relative;
        left: 0;
        top: -112px;
        margin: 0;
        text-transform: uppercase;
        transform: rotate(0deg);
        width: max-content;
        transform-origin: top;
        font-size: calc(20px + 5vw);
        // margin-left: -16%;
        // margin-top: 60px;
      }
    }

  }

  @media only screen and (max-width: 620px) {
    .content-area {
      padding-top: 105px;
    }
    
    .content-area #main.site-main {

      .woocommerce-products-header__title.page-title, 
      .woocommerce-page .woocommerce-products-header__title.page-title {
        left: unset;
        top: -85px;
        right: -13rem;
        text-align: right;
        align-self: flex-end;
        font-size: 3rem;
      }
    }

  }


  @media only screen and (max-width: 488px) {

    #masthead {
      max-width: unset;
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;
  
       .site-branding {
         max-width: unset;
         width: 100%;
  
        .site-title {
  
        }
       }
    }
    .content-area {
      padding-top: 105px;
    }

    .content-area #main.site-main {
      margin-left: 0;
        .woocommerce-products-header__title.page-title, 
          .woocommerce-page .woocommerce-products-header__title.page-title {
            position: absolute;
            top: -105px;
            right: 0;
            margin: 0;
            text-transform: uppercase;
            transform: rotate(0deg);
            width: max-content;
            transform-origin: top;
            font-size: calc(20px + 5vw);
            // margin-left: -16%;
            // margin-top: 60px;
          }
        }

  }

}