#fancybox-overlay {
  opacity: .95 !important;
  background: white !important;
}
#fancybox-wrap {

  #fancybox-outer {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow:  0 0 0 rgba(0,0,0,0);
    border: 1px solid #cfcfcf;
  }
  //Note - make cursor custom right and left caret and add image to wordpress, then remove arrow

  #fancybox-left {
    .fancy-ico {
      
    }
    &:hover span {
      left: -20px;
    }
  }
  #fancybox-right {
    .fancy-ico {
      
    }
    &:hover span {
      right: -20px;
    }
  }

}